:root {
  --primary: #3541E8
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.reset {
    all: unset;
}

.hover-spots {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--primary);
    color: white;
  }
}